<html>

  <head>
    <title>Hydra docs: <%= group['namespace'] %> module</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css"/>
    <link href="normalize.css" media="all" rel="stylesheet" type="text/css"/>

    <style type="text/css">
      * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      body {
        margin: 0;
        background-color: #eee;
        font-family: 'Helvetica Neue', sans-serif;
      }

      h1 {
        margin-top: 0;
      }

      section {
        border-top: 1px solid #ccc;
      }

      section:last-of-type {
        border-bottom: 1px solid #ccc;
      }

      a {
        color: #2e8b57;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      .container {
        max-width: 700px;
        min-height: 100%;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.75);
        box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.75);
      }
    </style>
  </head>

  <body>

  <div class="container">
    <h1>
<code>
      <% group['prefix_pairs'].each_with_index do |(prefix, combined), i| %><%= if i > 0 then "." end %><a href="<%= combined.join('.') %>.html"><%= prefix %></a><% end %>
</code>
    </h1>

    <p><%= group['doc'] %></p>

    <% unless group['subitems'].empty? %>

    <ul>
      <% group['subitems'].each do |item| %>
      <li><%= group['namespace'] %>.<a href="#<%= item['name'] %>"><%= item['name'] %></a></li>
      <% end %>
    </ul>

    <% group['subitems'].each do |item| %>

    <section>
    <a name="<%= item['name'] %>"></a>
    <h3><a href="#<%= item['name'] %>"><%= item['name'] %></a></h3>
    <code><%= item['def'] %></code>
    <p><%= item['doc'] %></p>
    </section>

    <% end %>

    <% end %>

    <% unless group['subgroups'].empty? %>

    <h2>Submodules</h2>

    <ul>
      <% group['subgroups'].each do |subgroup| %>
      <li><a href="<%= combined_prefixes.join('.') + '.' + subgroup['name'] + '.html' %>"><%= subgroup['name'] %></a></li>
      <% end %>
    </ul>

    <% end %>

  </div>

  </body>
</html>
