<html>

  <head>
    <title>Hydra docs: <%= group['name'] %> module</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css"/>
    <link href="normalize.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="styles.css" media="all" rel="stylesheet" type="text/css"/>
  </head>

  <body>

  <div class="wrapper">
    <header>
      <h1>
        <code>
          <a href="<%= group['name'] %>.html"><%= group['name'] %> module</a>
        </code>
      </h1>

      <p><%= group['doc'] %></p>
    </header>

    <% unless group['items'].empty? %>

    <div class="container">
      <% group['items'].each do |item| %>

      <section id="<%= item['name'] %>">
        <h3><a href="#<%= item['name'] %>"><%= item['name'] %></a></h3>
        <code><%= item['def'] %></code>
        <p><%= item['doc'].gsub("\n", "<br>") %></p>
      </section>

      <% end %>
    </div>

    <div class="structure">
      <h2>Methods</h2>
      <ul>
        <% group['items'].each do |item| %>
        <li><%= group['name'] %>.<a href="#<%= item['name'] %>"><%= item['name'] %></a></li>
        <% end %>
      </ul>
    </div>

    <% end %>

  </div>

  </body>
</html>
