<html>

  <head>
    <title>Hydra docs: <%= group['name'] %> module</title>
    <link href="normalize.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="styles.css" media="all" rel="stylesheet" type="text/css"/>
  </head>

  <body>

    <div id="modules">
      <ul>
        <li><a href="index.html">[ overview ]</a></li>
      </ul>
      <ul>
        <% groups.sort_by{|g|g['name']}.each do |g| %>
        <li><a href="<%= g['name'] %>.html"><%= g['name'] %></a></li>

        <% if g == group %>

        <ul>

        <% group['items'].sort_by{|i|i['def']}.each do |item| %>
        <li><a href="#<%= item['name'] %>"><%= item['name'] %></a></li>
        <% end %>

        </ul>

        <% end %>

        <% end %>
      </ul>
    </div>

    <div id="module">
      <header>
        <h1><%= group['name'] %></h1>
        <%= GitHub::Markup.render('.md', group['doc']) %>
      </header>

      <% group['items'].sort_by{|i|i['def']}.each do |item| %>
      <section id="<%= item['name'] %>">
        <h3><a href="#<%= item['name'] %>"><%= item['name'] %></a></h3>
        <code><%= item['def'] %></code>
        <%= GitHub::Markup.render('.md', item['doc']) %>
      </section>
      <% end %>
    </div>

  </body>
</html>
