<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Hammerspoon docs: <%= mod['name'] %> module</title>
    <style type="text/css">
      a { text-decoration: none; }
      a:hover { text-decoration: underline; }
      th { background-color: #DDDDDD; vertical-align: top; padding: 3px; }
      td { width: 100%; background-color: #EEEEEE; vertical-align: top; padding: 3px; }
      table { width: 100% ; border: 1px solid #0; text-align: left; }
    </style>
    <link rel="stylesheet" href="docs.css" type="text/css" media="screen" />
  </head>
  <body>
    <header>
      <h1><a href="./index.html">docs</a> &raquo; <%= mod['name'] %></h1>
      <%= GitHub::Markdown.render_gfm(mod['doc']) %>
      </header>
      <h3>API Overview</h3>
      <ul>
    <%
        sectionorder = %w(Deprecated Command Constant Variable Function Constructor Field Method);
        sectiondetails = {
            "Deprecated" => "API features which will be removed in an upcoming release",
            "Command" => "External shell commands",
            "Constant" => "Useful values which cannot be changed",
            "Variable" => "Configurable values",
            "Function" => "API calls offered directly by the extension",
            "Constructor" => "API calls which return an object, typically one that offers API methods",
            "Field" => "Variables which can only be access from an object returned by a constructor",
            "Method" => "API calls which can only be made on an object returned by a constructor",
        }

        sectionorder.each do |section|
            items = mod['items'].select{|m| m['type'] == section}.sort_by{|m|m['name']}
            if items.length > 0
                %>
                <li><%= section %>s - <%= sectiondetails[section] %></li>
                    <ul>
                <%
            end
            items.each do |item|
        %>
        <li><a href="#<%= item['name'] %>"><%= item['name'] %></a></li>
        <%
            end
            if items.length > 0
                %>
                </ul>
                <%
            end
        end
        %>
    </ul>
    <h3>API Documentation</h3>
    <%
        sectionorder.each do |section|
            items = mod['items'].select{|m| m['type'] == section}.sort_by{|m|m['name']}
            if items.length > 0
                %>
                <h4 class="documentation-section"><%= section %>s</h4>
                <%
            end
            items.each do |item|
    %>

    <section id="<%= item['name'] %>">
    <a name="//apple_ref/cpp/<%= item['type'] %>/<%= item['name'] %>" class="dashAnchor"></a>
    <h5><a href="#<%= item['name'] %>"><%= item['name'] %></a></h5>
    <table>
        <tr>
            <th>Signature</td>
            <td><code><%= item['def'] %></code></td>
        </tr>
        <tr>
            <th>Type</td>
            <td><%= item['type'] %></td>
        </tr>
        <tr>
            <th>Description</td>
            <td>
                <%= GitHub::Markdown.render_gfm(item['doc']) %>
            </td>
        </tr>
    </table>
    </section>
<%
            end
        end
%>
  </body>
</html>
